*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
  }
  body{
    font-size: 14px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
  }
  h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
  }
  a, a:hover{
    text-decoration: none;
  }


  /* main code start here */
  .header-section{
    width: 100%;
    background: url("../img/bg.png") center top no-repeat;
    background-size: cover;
   
  }

  #particles-js{
    width: 100%;
    background-image: url("../img/bg.png") center top ;
    background-size: cover;
  }



  .menu{
    width: 100%;
  }
  .menu .bg-light{
    background: transparent !important;
  }
  .menu .navbar-light .navbar-nav .nav-link {
    font-size: 13px;
    font-weight: 500;
    color: #fefeff;
    margin: 16px 8px;
    transition: 0.2s ease;
    border: 1px solid transparent;
    border-radius: 3px;
    
  }
  .menu .navbar-light .navbar-nav .nav-link:hover, .menu .navbar-light .navbar-nav .nav-link:focus{
    color: #fff;
    border: 1px solid #ff6600;
    background: linear-gradient(145deg #ff6600, #2c3e50);
    box-shadow: 2px 2px 4px #ff6600, -2px -2px 4px #34495e ;
    border-radius: 6px;
    transition: .4s ease-in;
   
  }


  /* banner */
  .header-section .banner{
   width: 100%;
   padding: 60px 0px 170px 60px;
  
  }
  .banner .banner-inner{
    width: 100%;
   padding: 50px 0px 100px;
  }
  .header-section .banner .banner-inner h2{
    font-size: 45px;
  line-height: 55px;
  color: #bdc3c7;
  font-weight: 400;
  letter-spacing: 4px;
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: center;
  }


  .header-section .banner .banner-inner h1{
  font-size: 50px;
  line-height: 62px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 35px;
  text-align: center;
  }

  .banner .banner-inner .bnnrbt{
    text-align: center;
  }
 
  .banner .banner-inner .bnnrbt .btn-info{
    padding: 10px 25px;
    margin-top: 0px;
    background: #ff6600;
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 2px 5px 15px rgba(45, 52, 54, 0.2);
    border-radius: 30px;
    font-size: 15px;
    transition: 0.5s ease-in-out;
    text-transform: uppercase;
    margin-top: 60px;
   

  }
  .banner .banner-inner .bnnrbt .btn-info:hover, 
  .banner .banner-inner .bnnrbt .btn-info:focus{
    background: #000;
    border: 2px solid #ff6600;
    color: #ff6600;
    background: linear-gradient(145deg #ff6600, #2c3e50);
    box-shadow: 2px 2px 4px #ff6600, -2px -2px 4px #34495e ;
  }

/* aboutus-section */
.aboutus-section{
    width: 100%;
    padding: 80px 0px;
}
.aboutus-section .about-txt h2{
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    line-height:55px;
    color: #000;
    margin-top: 30px;
}

.aboutus-section .about-txt p{
    font-size: 14px;
    line-height:24px;
    font-weight: 500;
    color: #646464;
}


.aboutus-section .about-txt .btn-info {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid #ff6600;
    background: #ff6600;
    color: #fff;
    font-weight: 400;
    margin-top: 20px;
    transition: 1s;
    letter-spacing: 2px;
     box-shadow: 2px 5px 15px rgba(45, 52, 54, 0.3);
}
.aboutus-section .about-txt .btn-info:hover{
    border: 2px solid #ff6600;
    background: #fff;
    color: #ff6600;
    transition: 1s ease;

}
/* feature sectn */
.feature-inner1{
    width: 100%;
    padding: 80px 0px;
    background: #f7f7f7;
}

.feature-inner1 .title{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.feature-inner1 .title h2{
    font-size: 45px;
    line-height: 55px;
    font-weight: 700;
    color: #000;
    margin-bottom: 60px;
}

.feature-inner1 .media .media-body h4{
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
.feature-inner1 .media .media-body p{
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    color: #646464;
}

.feature-inner1 .media{
    width: 100%;
    margin: 25px 0px;
}

.feature-inner1 .ft2-btn{
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

/* owl */

.team-section{
    width: 100%;
    padding: 70px 70px;
}


.team-section .item{
    width: 100%;
    margin: 10px 0px;
    position: relative;
    border-radius: 0px;
    border: 0px;
}
.team-section .owl-head h2{
    font-size: 45px;
    line-height: 55px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-bottom: 25px;
}
.team-section .owl-carousel .inner .inner-text h4{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 20px;
    color: #24282f;
    position: relative;
}
.team-section .owl-carousel .inner .inner-text p{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
     color: #646464;
}
.team-section .owl-carousel .inner .item{
    width: 97%;
    box-shadow: 2px 5px 10px 0px rgba(45, 52, 54, 0.3);
}
.team-section .owl-carousel .inner .item img{
   border-radius: 2px;
}

.team-section .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}


/* ######## */
.team-section .item .port-hover{
   text-align: center;
   width: 100%;
   height: 100%;
    top: 0%;
    left: 0%;
    background:	rgb(0,0,0, 0.6);
    display: none;
    position: absolute;
    border-radius: 2px;
    
}
.team-section .item .port-hover .icon{
    position: absolute;
    top: 35%;
    left: 25%;
}
.team-section .item:hover .port-hover{
    display: block;
    transition: 1s ease-in-out;

}

.item:hover .port-hover{
    display: block;
    transition: 1s;
}

/* ****** */
.team-section .item .port-hover .icon ul{
    display: block;
    
}
.team-section .item .port-hover .icon ul li{
    display: inline-block;
    margin: 35px 0px;
}
.team-section .item .port-hover .icon ul li{
    display: inline-block;
}
.team-section .item .port-hover .icon ul li a{
   font-size: 22px;
   line-height: 27px;
   font-weight: 500;
   color: #fff;
   padding: 0px 10px;
   text-decoration: none;
}
.team-section .item .port-hover .icon ul li a:hover{
 color: #ff6600;

 }

/* $$$$$$$$ */
.team-section .owl-carousel{
    margin-top: 50px;

}

.team-section .owl-theme .owl-dots .owl-dot.active span, 
.team-section .owl-theme .owl-dots .owl-dot:hover span {
    background: #ff6600;
}

.team-section .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 25px;
}

/* our-work-section */
.our-work-section{
    width: 100%;
    padding: 80px 0px;
    background: #f7f7f7;
    text-align: center;
}
.our-work-section .work-head h2{
    font-size: 45px;
    line-height: 60px;
    font-weight: 700;
    color: #000;
    margin-bottom: 50px;

}
.our-work-section .work-imgs{
    width: 100%;
    margin: 14px 0px;
    position: relative;
    border-radius: 0px;
    border: 2px;
    box-shadow: 2px 2px 2px 0px rgba(45, 52, 54, 0.1);
}
.our-work-section .work-imgs img{
    transition: all .5s ease;
}
.our-work-section .work-imgs:hover img{
transform: scaleY(1.1);
}

.our-work-section .port-btn .btn-info{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 50px;
    border: 2px solid #ff6600;
    background: #ff6600;
    color: #fff;
    font-weight: 400;
    margin-top: 50px;
    transition: 1s;
    letter-spacing: 2px;
   box-shadow: 2px 5px 15px rgba(45, 52, 54, 0.3);
   
}
.our-work-section .port-btn .btn-info:hover{
    border: 2px solid #ff6600;
    background: #fff;
    color: #ff6600;
    transition: 1s ease;
}

/* our blog section */
.our-blog-section{
    width: 100%;
    padding: 80px 0px;
}
.our-blog-section .item .card-body{
    box-shadow:  2px 2px 10px #b6b6b8, 2px 2px 2px #fff;
  border-radius: 5px;    
}

.our-blog-section .item{
    transition: transform 1s; 
  }
  .our-blog-section .item:hover{
    transform: scale(0.9);
    animation: 0.5s;
    }


.our-blog-section .our-blod-head h2{
    text-align: center;
    font-size: 45px;
    line-height: 60px;
    font-weight: 700;
    color: #000;
    margin-bottom: 40px;
}
.our-blog-section .item .card-body .card-title{
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
   margin: 8px 0px 20px 0px;
   text-transform: capitalize;
}
.our-blog-section .item .card-body .card-text{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
     color: #646464;
}
.our-blog-section .item .card-body span{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
     color: #000;
}

/* blog section owl */
.our-blog-section .owl-carousel{
    margin-top: 50px;

}

.our-blog-section .owl-theme .owl-dots .owl-dot.active span, 
.our-blog-section .owl-theme .owl-dots .owl-dot:hover span {
    background: #ff6600;
}

.our-blog-section .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 50px;
}
.our-blog-section .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

/* client part */
.client-section{
    padding: 20px 0px;
    text-align: center;
    background: url("../img/clnt.png") center no-repeat;
    background-size: cover;
}

.client-section h2{
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
  
}
.client-section span{
    color: #ff6600;
    font-size: 25px;
    line-height: 35px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.client-section .carousel-inner{
    width: 100%;
    padding-top: 40px;
}

.client-section .carousel {
	margin: 30px auto;
	padding: 0 70px;
}
.client-section .carousel-item {
	color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.client-section .carousel .item .img-box {
	width: 115px;
	height: 115px;
	margin: 0 auto;
	padding: 5px;
	border-radius: 50%;
}
.client-section .carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
    border-radius: 50%;
    margin-top: 20px;
}
.client-section .carousel .testimonial {
	padding: 30px 0 10px;
}
.client-section .carousel .overview {	
	font-style: italic;
}
.client-section .carousel .overview b {
	text-transform: uppercase;
	color: #ff6600;
}
.client-section .carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.client-section .carousel-control i {
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    display: inline-block;
	color: #ff6600;
   
}
.client-section .carousel .carousel-indicators {
	bottom: -40px;
}
.client-section .carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.client-section .carousel-indicators li {	
	background: #fff;
	border-color: transparent;
	box-shadow: inset 0 2px 1px #fff;
}
.client-section .carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px #fff;
}

.client-section .carousel-inner .testimonial{

}

/* .client-section end */
/* brand logo start */
.brand-logo-section{
    width: 100%;
    padding: 60px 0px;
    background: #ffffff;
    text-align: center;
}
.brand-logo-section .brand-logo-head h2{
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    color: #000;
    margin-bottom: 70px 0px 50px 0px ;
}
/* brand logo end */

/* our contact */
.our-contact-section{
    width: 100%;
    padding: 70px 0px 140px 0px;
    background: #f7f7f7;
    
}

.our-contact-section .contact-head h2{
    text-align: center;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #000;
    margin-bottom: 40px;
}

.our-contact-section .contact-form{
    text-align: center;
    position: relative;
}
.our-contact-section .form-box-inner{
    width: 100%;
}
.our-contact-section .form-box{
    width: 70%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 0.2px solid #b6b6b8;
    background: #fff;
    color: #000;
}
.our-contact-section .contact-form .form-box-inner input {
    overflow: visible;
    font-size: 14px;
    font-weight: 500;
   
}
.our-contact-section .contact-form .form-box-inner-massege input{
    overflow: visible;
    font-size: 14px;
    font-weight: 500;
}

.our-contact-section .form-box-inner-massege{
    width: 100%;
}
.our-contact-section .form-box-massage{
    width: 70%;
    padding: 10px 10px 200px 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 0.2px solid #b6b6b8;
    background: #fff;
}
.our-contact-section .form-box:focus{
    outline: none;
}
.our-contact-section .form-box-massage:focus{
    outline: none;
}

.our-contact-section .contact-form .btn{
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px 18px;
    border-radius: 50px;
    border: 2px solid #ff6600;
    background: #ff6600;
    color: #fff;
    font-weight: 500;
    margin-top: 30px;
    transition: 1s;
    letter-spacing: 1px;
    position: absolute;
    right: 43.2%;
    box-shadow: 2px 5px 15px rgba(45, 52, 54, 0.3);

}
.our-contact-section .contact-form .btn:hover{
    border: 2px solid #ff6600;
   background: #fff;
    color: #ff6600;
    transition: 1s ease;
}

/* .google-map-section */
.google-map-section{
    width: 100%;
}

.google-map-section .google{
    width: 100%;
    border-radius: 5px;
}

/* footer-section */
.footer-section{
    width: 100%;
    padding: 12px 0px;
    background: #1b1a1a;
}
.footer-section .footer-logo{
    width: 100%;
    margin-top: 13px;

}
.footer-section .footer-icons ul{
    display: block;
    text-align: right;
}
.footer-section .footer-icons ul li{
    display: inline-block;
    margin-top: 12px;
    
}
.footer-section .footer-icons ul li a{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #fff;
    padding: 0px 12px;
    text-decoration: none;
    border: 3px solid transparent;
    border-radius: 30px;
    transition: .5s ease-in;
}

.footer-section .footer-icons ul li a:hover{
    color: #ff6600;
    transition: .5s ease-in;
    background: linear-gradient(145deg #ff6600, #2c3e50);
    box-shadow: 2px 2px 4px #ff6600, -2px -2px 4px #34495e ;
}



